body {
    background-color: beige;
}

/* html {
    position: relative;

    min-height: 100%;
} */

main {
    margin: 80px 0;
  }

.Portfolio-Article {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.Portfolio-Header{
    position: absolute;
}

hr{
    margin-top: 75px;
    width: 100%;
}

.Portfolio-Article img {
    position: relative;
    float: left;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Contact-Article{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.Contact-Header{
    position: absolute;
}

.Index-Article{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.Index-Header{
    position: absolute;
}

.Contact-Form{
    min-width: 100%;
    max-width: 100%;
}

.submit-btn{
    border-style: solid;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: lighter;
}